[Desktop Entry]
Comment=Minimax Style
Name=Minimax
X-KDE-PluginInfo-Author=Max O'Cull
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=maxattax97@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv2
X-KDE-PluginInfo-Name=com.github.maxattax97.minimax
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://github.com/maxattax97/minimax-theme
X-KDE-ServiceTypes=Plasma/LookAndFeel
